* {
  box-sizing: border-box;
}

body {
background-color: #000;
font-family: 'Special Elite',
cursive,
serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
font-family: 'Zilla Slab', serif;
}

/* Icon, ReturnButton */
.fas {
	font-size: 35px;
	margin: 10px;
  cursor: pointer;
}

.fas:hover {
 color: #FFF;
  opacity: 0.9;
  transition: 0.3s ease;
}